Author: subdiox <subdiox@gmail.com>
Maintainer: subdiox <subdiox@gmail.com>
Name: Blitz Modder
Package: com.subdiox.blitzmodder
Depends: coreutils-bin,unzip
Section: Utilities
Version: 2.2.6
Architecture: iphoneos-arm
Description: Mod Manager for World of Tanks Blitz
Depiction: Mod Manager for Blitz
Homepage: http://subdiox.com
Sponsor:
Tag: purpose::extension
